{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
Video Narration
{% endblock %}


{% block style %}
<link rel="stylesheet" href="{% static 'website/css/form-loader.css' %}">
{% endblock %}


{% block content %}

<div class="container mt-7">
    <div class="form-container">
        <h2 class="text-center" style="color: #E2E2E2">Video Narration</h2>
        <form id="myForm" class="form" action="" method="POST" enctype="multipart/form-data">
            <div class="form-group">
            {% csrf_token %}
            {{ form | crispy }}

            <!--Switch-->
            <p style="color: #E2E2E2;">Use the switch below to enable custom instructions</p>
            <div class="form-check form-switch mb-3">
<!--                <label class="form-check-label" for="switchCheckDefault">Custom Prompt</label>-->
                <input class="form-check-input" style="width: 7%;" type="checkbox" role="switch" id="switchCheckDefault"/>
            </div>


            <!-- Hidden Text Field Initially -->
            <div class="mb-3" id="promptField" style="display: none;">
                <label for="prompt" class="form-label">Custom Instructions</label>
                <textarea class="form-control" id="prompt" name="prompt" placeholder="Make it in the style of morgan freeman..."></textarea>
            </div>

            </div>
            <button type="submit" id="submitBtn" onclick="showLoadingScreen()" class="btn btn-light btn-lg rounded-3">Generate Narration</button>

            <div class="text-center">
            <div id="loading-container" style="display: none;">
                <div id="spinner-container">
                    <div class="dot-spinner">
                        <div class="dot-spinner__dot"></div>
                        <div class="dot-spinner__dot"></div>
                        <div class="dot-spinner__dot"></div>
                        <div class="dot-spinner__dot"></div>
                        <div class="dot-spinner__dot"></div>
                        <div class="dot-spinner__dot"></div>
                        <div class="dot-spinner__dot"></div>
                        <div class="dot-spinner__dot"></div>
                    </div>
                </div>
            </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'website/js/form-loader-basic.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/custom-field.js' %}"></script>
{% endblock %}
