{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
<!--    <a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
          {% if user.is_authenticated %}
            <div class="dropdown">
                  <button class="btn btn-default rounded-3 dropdown-toggle me-2" type="button"
                   data-bs-toggle="dropdown" aria-expanded="false"><b>{{ user }}</b></button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'users:profile:user_profile' user.id %}">Projects</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a></li>
                  </ul>
                </div>
          <a href="{% url 'website:vision' %}" class="btn btn-default rounded-3 me-2"><img src="{% static 'website/img/plus-logo.png' %}" class="img-fluid" alt="" width="20" height="20"></a>
          {% else %}
            <a class="btn btn-default rounded-3 me-2" href="{% url 'users:login' %}"><b>Login</b></a>
            <a class="btn btn-default rounded-3 me-2" href="{% url 'users:register' %}"><b>Sign Up</b></a>
          {% endif %}
          <a href="https://github.com/jackjakarta/visionDjango" target="_blank" rel="noopener noreferrer" class="btn btn-default rounded-3"><img src="{% static 'website/img/github-logo.png' %}" class="img-fluid" alt="" width="20" height="20"></a>
      </div>
    </div>
  </div>
</nav>