{% extends 'base.html' %}
{% load static %}

{% block title %}
Your Projects
{% endblock %}


{% block content %}
<div class="container mt-4">
  <div class="form-container">
    <h2 class="text-center mb-4" style="color: #E2E2E2;">Projects</h2>

    <div class="text-center mb-4">
      <img src="{% if avatar_url %}{{ avatar_url }}{% else %}{% static 'website/img/default-avatar.png' %}{% endif %}" class="img-fluid rounded-circle" alt="..." width="125" height="125">
    </div>
    {% if page_obj %}

      <div class="mt-7">
          {% for narration in page_obj %}
            <ol class="list-group mt-3">
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div><a class="text-discovery" href="{% url 'users:user_narration' narration.id %}">{{ narration.video.title }}</a></div>
                  <p class="mb-0 fs-sm text-muted">{{ narration.text | truncatewords:25 }}</p>
                </div>
                <a href="{% url 'users:user_narration' narration.id %}"><span class="badge text-bg-discovery">View</span></a>
              </li>
            </ol>
          {% endfor %}
      </div>

        <!--Pagination-->
      <div class="row justify-content-center mt-4">
          <div class="col-lg-6">
              <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                      {% if page_obj.has_previous %}
                          <li class="page-item">
                              <a class="page-link" href="?page=1" aria-label="First">
                                  <span aria-hidden="true">&laquo;</span>
                              </a>
                          </li>
                          <li class="page-item">
                              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                  <span aria-hidden="true">&lsaquo;</span>
                              </a>
                          </li>
                      {% endif %}

                      {% if page_obj.number|add:'-4' > 1 %}
                          <li class="page-item">
                              <a class="page-link" href="?page=1">1</a>
                          </li>
                          <li class="page-item disabled"><span class="page-link">...</span></li>
                      {% endif %}

                      {% for num in page_obj.paginator.page_range %}
                          {% if num >= page_obj.number|add:'-3' and num <= page_obj.number|add:'3' %}
                              {% if page_obj.number == num %}
                                  <li class="page-item active" aria-current="page">
                                      <span class="page-link">{{ num }}</span>
                                  </li>
                              {% else %}
                                  <li class="page-item">
                                      <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                  </li>
                              {% endif %}
                          {% endif %}
                      {% endfor %}

                      {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                          <li class="page-item disabled"><span class="page-link">...</span></li>
                          <li class="page-item">
                              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                          </li>
                      {% endif %}

                      {% if page_obj.has_next %}
                          <li class="page-item">
                              <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                  <span aria-hidden="true">&rsaquo;</span>
                              </a>
                          </li>
                          <li class="page-item">
                              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                  <span aria-hidden="true">&raquo;</span>
                              </a>
                          </li>
                      {% endif %}
                  </ul>
              </nav>
          </div>
      </div>

    {% else %}

      <p class="text-center mt-3">You have no narrations at the moment.</p>

    {% endif %}
  </div>
</div>
{% endblock %}
