{% extends 'base.html' %}

{% block title %}
Reset Token
{% endblock %}

{% block content %}

<div class="container text-center mt-4">
    <h1 class="display-7">Reset Token</h1>
    <h4>Your activation token has expired. Please reset your token.</h4>
    <form action="{% url 'users:activation:reset_token' token %}" method="POST" class="form-control">
        {% csrf_token %}
        <button class="btn btn-info btn-sm rounded-3" type="submit">Reset Token</button>
    </form>
</div>

{% endblock %}