{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
Set Password
{% endblock %}


{% block content %}

<div class="container mt-7">
    <div class="form-container">
        <h2 class="text-center" style="color: #E2E2E2">Set Password</h2>
        <form action="{% url 'users:activation:activate' token %}" class="form" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                {% csrf_token %}
                {{ form | crispy }}
            </div>
            <button type="submit" class="btn btn-light btn-lg rounded-3">Activate Account</button>
        </form>
    </div>
</div>

{% endblock %}
